@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.bg-color-blur {
    background-image: url(./images/background-blurs.png);
}

.bg-color-box {
    background-image: url(./images/background-box.png);
}